.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.text {
  font-size: 24px;
  color: #555;
  text-align: center;
  max-width: 600px;
  margin-bottom: 32px;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 32px;
}

.check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
}
.check img {
  width: 200px;
}
.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #00b894;
  transform: rotate(45deg);
}

.visible {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.title_v:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: green;
  animation: pulse 1s ease-out infinite;
}
.title_n:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #ff7675;
  animation: pulse 1s ease-out infinite;
}
.title_f:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: red;
  animation: pulse 1s ease-out infinite;
}
.invisible {
  display: none;
}

.dashboard {
  padding: 10px 20px;
  background-color: green;
}
