/* body {
} */
.container {
  background-color: rgb(182, 226, 243);
  width: 100vw;
  height: 250vh;
  margin-top: -80px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3% auto;
  border: 1px solid gray;
  padding: 3%;
  background-color: rgb(215, 236, 246);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.input,
.textarea,
.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}
.uploadbtn {
  text-decoration: none;
}
.h2 {
  text-align: center;
  color: rgb(58, 57, 57);
}
